<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <a href="https://github.com/mlogclub/mlog" target="_blank">M-LOG CLUB</a>
            <a href="{{baseUrl}}/about">关于</a>
            <label class="hide">
                <a href="{{baseUrl}}/tags">标签</a>
            </label>
        </p>
    </div>
</footer>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?53e22bff375fb0f1d0d0954da75b9d8a";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>
